body {
  background-color: rgb(199, 247, 221);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Karla-Bold";
  color: rgb(121, 120, 120);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 520px;
}

label {
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  height: 612px;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.custom-button {
  background: rgb(34 125 90) !important;
  margin-top: 40px;
}

.check-container {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: 8px;
  margin: 10px;
}

h1 {
  color: #000000b3;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 30px;
}
