body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Karla-Bold";
  color: rgb(97 95 95);
  background-image: url("../images/background2.jpeg");
  background-size: contain;
  background-position: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(157 166 179);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  max-width: 960px;
  border-radius: 4px;
}

label {
  font-size: 14px;
}

form {
  display: flex;
  flex-direction: column;
  max-height: 720px;
  background: white;
  padding: 30px;
  margin: 40px;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  max-width: 489px;
}

.custom-button {
  background: rgb(65 110 93) !important;
  margin-top: 40px;
  border: none;
}

.check-container {
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: 8px;
  margin: 10px;
}

h1 {
  color: #000000b3;
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.check-container:has(> .form-check-input:valid:checked) {
  background: #1987544a;
  border: 1px solid var(--bs-form-valid-color);
}

.form-check-input.is-invalid ~ .form-check-label,
.was-validated .form-check-input:invalid ~ .form-check-label {
  color: rgb(97 95 95) !important;
}

.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
  color: rgb(97 95 95) !important;
}

.invalid-feedback {
  font-size: 11px;
  font-family: "Roboto Mono", monospace;
}

.form-check-input {
  width: 0.8em;
  height: 0.8em;
  margin-right: 6px;
  margin-top: 0.35em;
}

.form-check-input:checked {
  border-color: rgb(65 110 93) !important;
  background-color: rgb(65 110 93) !important;
}

.form-control:focus {
  box-shadow: none;
  border-color: green !important;
}

input:not([type="radio"]):hover,
textarea:hover,
label,
.check-container:hover {
  cursor: pointer;
  border-color: green !important;
}

input:hover {
  cursor: pointer;
}

.success {
  background-color: #bbd8ba;
}
